/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
     color: #000;
     font-size: 30px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     width: 100%;
}

header {
     width: 100%;
     height: 58.33%;
}

     header h1 {
          font-weight: 800;
          font-size: 38px;
          letter-spacing: 1px;
          color: #FFFFFF;
          margin: 0;
          padding-left: 10%;
          padding-top: 3.33%;
          padding-bottom: 1.67%;
     }

     header p {
          color: #FFFFFF;
          font-weight: 400;
          font-size: 45px;
          padding-left: 10%;
          padding-top: 5%;
          padding-right: 10%;
          padding-bottom: 5%;
          text-align: center;
     }

article {
     width: 100%;
     height: auto;
     background-color: #f0efef;
}

footer {
     height: 350;
     background-color: #121212;
     margin-top: 0;
}


.headerbgimg {
     height: 100%;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
      background-size: cover;
}

.getitnowbtn {
     color: #033048;
     font-weight: 800;
     font-size: 25px;
     background-color: #f9e42e;
     width: 260px;
     border-radius: 5px;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 20px;
     margin: 0 auto;
}

.headerdesc {
     width: 100%;
     height: 300px;
}

.articlewrap {
     padding-left: 10%;
     padding-top: 35px;
     padding-right: 10%;
     padding-bottom: 50px;
}

     .articlecolumnone {
          width: 52%;
          height: auto;
          margin: 0;
          padding-left: 10px;
          padding-right: 10px;
          float: left;
     }

          .articlecolumnone h2 {
               color: #033048;
               font-weight: 600;
               font-size: 30px;
          }

          .articlecolumnone p {
               color: #606161;
               font-weight: 300;
               font-size: 20px;
               line-height: 30px;
          }

          .articlecolumnonechildcol1 {
               color: #606161;
               list-style-type: disc;
               font-weight: 300;
               font-size: 20px;
               line-height: 30px;
               width: 80%;
          }

          .articlecolumnonechildcol2 {
               width:20%;
          }


     .articlecolumntwo {
          background-color: #f0efef;
          width: 48%;
          height: auto;
          margin: 0;
          padding-left: 10px;
          padding-top: 20px;
          padding-right: 10px;
          padding-bottom: 35px;
          float: right;
     }

.blockquotewrap {
     width: 100%;
     padding-top: 50px;
     padding-bottom: 50px;
     background: url(../images/testimonial_bg.jpg) no-repeat top center rgb(134,141,157);
     background-size: cover;
}

     .blockquote {
          max-width: 480px;
          min-height: 200px;
          margin: 0 auto;
          padding-left: 10px;
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
     }

          .blockquotetext {
               color: #FFFFFF;
               font-size: 28px;
               font-weight: 300;
               line-height: 40px;
               font-style: italic;
               text-align: center;
               margin: 0;
               opacity: 0.8;
          }

          #blockquotesemibold {
               color: #FFFFFF;
               font-size: 28px;
               font-weight: 400;
               text-align: center;
               margin: 0;
               padding-top: 5px;
          }

.calltoaction {
     background-color: #f9e42e;
     padding-top: 30px;
     padding-bottom: 30px;
     margin: 0;
}

     .calltoactionbtn {
          background-color: #033048;
          border-radius: 5px;
          padding-left: 10px;
          padding-top: 18px;
          padding-right: 10px;
          padding-bottom: 22px;
          width: 270px;
          height: 60px;
          margin: 0 auto;
     }

          .calltoactiontext {
               color: #FFFFFF;
               font-size: 20px;
               font-weight: 800;
               text-align: center;
               margin: 0;
               letter-spacing: 1px;
          }

.footerinfowrap {
     max-width: 250px;
     min-height: 250px;
     margin: 0 auto;
     text-align: center;
}

     .footerlogo {
          color: #f9e42e;
          padding-top: 45px;
          padding-bottom: 50px;
          font-size: 38px;
          font-weight: 800;
          letter-spacing: 1px;
          margin: 0;
     }

     .footersocialmediahub {
          width: 140px;
          height: 60px;
          margin: 0 auto;
     }
          
          .footertwittericon {
               width: 50%;
               float: left;
               margin: 0 auto;
          }

          .footerfbicon {
               width: 50%;
               float: right;
               margin: 0 auto;
          }

     .footercopyright {
          padding-top: 40px;
          padding-bottom: 40px;
     }

          .footercopyrightinfo {
               color: #FFFFFF;
               font-size: 14px;
               font-weight: 300;
               letter-spacing: 1px;
          }

.wrapper {
     max-width: 100%;
     margin: 0 auto;
}





